---
- name: Install msmtp
  become: True
  apt:
    name: msmtp

- name: Symlink the msmtp configuration
  file:
    src: "{{ dotfiles }}/dotfiles/msmtp/msmtprc"
    dest: "{{ home }}/.msmtprc"
    state: link
    force: True
    owner: "{{ ansible_user }}"
